.weapon-section {
	margin: 50px 0px;
}

.weapon-attributes img {
	height: 140px;
	margin: 5px;
}

.weapon-attributes {
		background-color: #163236;

	color: white;
}

.weapon-section h5 {
	text-align: justify;
}

.weapon-section hr {
	border-color: #31474A;
}
.weapon-section .btn {
	height: auto;
	overflow: auto;

	background-color: #D13C35;
}