#combo-body {
	background-image: url('http://cdn.mos.cms.futurecdn.net/dHGpivgmWvdGJq4XHtK3Tm.jpg');
	height: 100%;
}
/*.container {
	position: relative;
}*/

.shade {
	/*background-image: url('http://www.clker.com/cliparts/e/N/U/0/a/p/black-fade-out-background-hi.png');*/
	background-color: black;
	background-repeat: no-repeat;
    background-size: 100% 100%;
	position: absolute;
	opacity: 0.8;
	z-index: 0;
	height: 100%;
	width: 100%;
	/*margin-top: -100px;*/
}

.combo {
	/*position: absolute;*/
		height: 600px;
	z-index: 1;
}