.description {
	font-size: 20px;
}

.section {
	background-color: #163236;
	margin: 50px 0px;
	padding: 30px 0px;
}

/*.col .s6 {
	margin: auto;
}
*/
.description {
	padding-bottom: 80px;
}



#home-title {
	position: relative;
	overflow: auto;
	background-image: url('https://www.destructoid.com//ul/483893-MonsterHunterWorld-3-1.jpg');
	background-size: 1920px auto;
	background-position: 30% -400px;
	height: 400px;
}

#home-title .title-shade {
	position: absolute;
	
	/*opacity: 0.6;*/
	margin: 150px 0px;
	height: 60px;
	width: 100%;
}

#home-title h1 {
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
	position: absolute;
	width: 100%;
	color: white;
	margin-top:150px;
}