.option {
	position: absolute;
	left: 55%;
}

.o0 {
	top: 100px;
}

.o1 {
	top: 180px;
}

.o2 {
	top: 260px;
}

.o3 {
	top: 340px;
}

.o4 {
	top: 420px;
}

.o5 {
	top: 500px;
}

.o6 {
	top: 580px;
}

.o7 {
	top: 660px;
}

.o8 {

}

.o9 {

}

