.attack {
	float: right;
	position: absolute;
	top: 180px;
	left: 30%;

}

.card {
	background-color: #31474A;
	border-radius: 50px;
	height: 64px;
	min-width: 300px;
	float: left;

}

.card .card-title {
	font-size: 24px;
	margin-left: 5px;
	margin-right: 10px;
	float: left;

}

.card .card-content{
	padding: 16px;
}

.button-icon {
	margin-top: -5px;
	height: 40px;
	width: auto;
	float: left;
}