.weapon-link {
	background-color: #6E0A05;
	overflow: auto;
	margin: auto;
	margin-top: 20px;
	/*width: 360px;*/
	width: auto;
	transition: background-color 0.3s;
}

.weapon-link:hover {
	background-color: #8d2621;
}

a {
	color: white;
}

.weapon-link img {
	margin: 10px;
	height: 60px;
	width: auto;
	float: left;
}