p {
	font-size: 20px;
}

#weapon-title {
	position: relative;
	background-image: url('./images/workshop.jpg');
	background-size: cover;
		background-position: 0px -450px;
	height: 400px;
}

#weapon-title .title-shade {
	position: absolute;

	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));

	opacity: 0.6;
	margin: 150px 0px;
	height: 60px;
	width: 100%;
}

#weapon-title h1 {
	position: absolute;
	width: 100%;
	color: white;
	margin:150px 0px;
}

ul {
	margin-left: 30px;
}
